attrs==23.2.0
brazilcep==6.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
idna==3.6
isodate==0.6.1
lxml==5.2.1
numpy==1.26.4
pandas==2.2.1
platformdirs==4.2.0
pycparser==2.22
PyMySQL==1.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
requests-file==2.0.0
requests-toolbelt==1.0.0
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
zeep==4.2.1
